<administration-nav></administration-nav>

<ion-content padding>

    <!-- Segment in a form -->
    <ion-segment color="primary" [(ngModel)]="dmpCreationStep" name = "dmpCreationStep" style="width: 60%; margin: auto;" padding>

      <ion-segment-button value="basicInfo" #personalInfo>
        <ion-icon name="card"></ion-icon>
        1. Basic information
      </ion-segment-button>

      <ion-segment-button value="dataAnalysis" [disabled]="!personalInfoInserted()" #address>
        <ion-icon name="compass"></ion-icon>
        2. Data analysis
      </ion-segment-button>

      <ion-segment-button value="repoAndLicense" [disabled]="!personalInfoInserted()" #accountInfo>
        <ion-icon name="person"></ion-icon>
        3. Repository and Licensing
      </ion-segment-button>

    </ion-segment>

      <div [ngSwitch]="dmpCreationStep" style="width: 50vw;" class="center" padding>
        <!-- part of the form regarding personal information -->
        <ion-list *ngSwitchCase="'basicInfo'">
          <form [formGroup]="basicInfoForm">
            <ion-grid>
              <ion-row>
                <ion-col col-2>
                </ion-col>
                <ion-col col-8>
                  <ion-item>
                    <ion-label floating color="primary">Project Name</ion-label>
                    <ion-input type="text" value="" formControlName="project"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-2>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-2>
                  <div style="padding-top: 50%">{{pcreator.person.precedingTitles}}</div>
                </ion-col>
                <ion-col col-4>
                  <ion-item>
                    <ion-label floating color="primary">First Name</ion-label>
                    <ion-input type="text" value="" formControlName="firstName"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-4>
                  <ion-item>
                    <ion-label floating color="primary">Last Name</ion-label>
                    <ion-input type="text" value="" formControlName="lastName"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col col-2>
                  <div style="padding-top: 50%">{{pcreator.person.postpositionedTitles}}</div>
                  <button ion-button (click)="findOnTiss()" [disabled]="basicInfoForm.value.lastName.length < 3" padding *ngIf="!foundOnTiss">Find on Tiss</button>
                </ion-col>
              </ion-row>
              <ion-row></ion-row>
              <ion-row></ion-row>
              <ion-row *ngIf="pcreator.person.mainEmail" padding>
                <h3>Contact</h3>
                <b></b>
              </ion-row>
              <ion-row *ngIf="pcreator.person.mainEmail">
                Email: {{pcreator.person.mainEmail}}
              </ion-row>
              <ion-row *ngIf="pcreator.person.employee.employment.length>0" padding>
                <h3>Position</h3>
              </ion-row>
              <ion-row *ngFor="let job of pcreator.person.employee.employment" class="userList" style="border-bottom: solid; border-color: #dbdbdb">
                {{job.function}} at {{job.organisationalUnit.value}}
              </ion-row>
              <ion-row *ngIf="users.length>0" padding>
                <h3>Results</h3>
              </ion-row>
              <ion-row *ngFor="let user of users" class="userList" style="background-color: #f8f8f8; border-bottom: solid; border-color: #dbdbdb">
                <ion-col col-10 >
                    {{user.prefixTitle}} {{user.firstname}} {{user.lastname}} {{user.postfixTitle}} - id: {{user.id}}
                </ion-col>
                <ion-col col-2>
                  <button ion-button icon-only (click)="setChosenUser($event, user)" color="primary" style="float: right;">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
          <button ion-button (click)="dmpCreationStep = 'dataAnalysis'" style="margin-top: 5%; left: 93%" [disabled]="!personalInfoInserted()">Next</button>
        </ion-list>

        <!-- part of the form regarding the address -->
        <ion-list *ngSwitchCase="'dataAnalysis'">
          <ion-item>
            <ion-input type="file" name ="uploadedFile" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"></ion-input>
          </ion-item>
          <button ion-button (click)="dmpCreationStep = 'repoAndLicense'" style="margin-top: 5%; left: 93%">Next</button>
        </ion-list>

        <!-- part of the form regarding account information -->
        <ion-list *ngSwitchCase="'repoAndLicense'">
          Choose repo and license
          <button ion-button style="margin-top: 5%; left: 93%" (click)="createDMP()" >Create DMP</button>
        </ion-list>

      </div>

</ion-content>
